PORT=3000
DATABASE_URL="mysql://root:password@localhost:3306/api_movie_list"
OPENAI_API_KEY=""
OPENAI_TRANSCRIBE_MODEL="whisper-1"
OPENAI_TEXT_MODEL="gpt-4o-mini"
SUBTITLE_AUTO_CHUNK_SECONDS="120"
WEB_PUSH_VAPID_PUBLIC_KEY="BEOsxQHDiug6PE1zub01oRXND8MbSpLKC1Olc3cIJrZqJ_qdM-cd-jjqpbDHtYqKp0ZozjqWXEW1BgQpdj512GY"
WEB_PUSH_VAPID_PRIVATE_KEY="hdEW9BAkp0Pd6iY9_48gO5dBdQv0y0JGbtVCUeU5t7c"
WEB_PUSH_VAPID_SUBJECT="mailto:admin@example.com"

STREAMING_HOST_URL="http://localhost:3000"

# REDIS CONFIGURATION
REDIS_HOST="10.10.0.1"
REDIS_PORT=6379
REDIS_PASSWORD="528785143691596c"